* {
  margin: 0;
  padding: 0; }

body,
html {
  height: 100%;
  background: #282828; }

.wrapper {
  display: table;
  max-width: 1380px;
  height: 100%;
  margin: 0 auto; }

.content {
  display: table-row;
  height: 100%; }

.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.hidden-text {
  position: absolute;
  top: 0;
  left: -9999px; }

a {
  display: block; }

.container {
  max-width: 1380px;
  margin: 0 auto; }

.header {
  display: table-row;
  background: #fff; }

.header__logo {
  float: left; }

.header__img {
  margin: 32px 0 32px 54px; }

.header__menu {
  float: right; }

.header__menu-list {
  float: left;
  margin: -20px 20px 0 0; }

.header__menu-item {
  float: left;
  list-style: none;
  margin: 50px 0 40px 25px;
  padding: 0;
  font-family: "Monsserat Bold", sans-serif;
  font-size: 16px; }

.header_menu-item:nth-child(1) {
  margin-left: 0; }

.header__menu-link {
  text-decoration: none;
  color: #635c73;
  font-weight: bold;
  line-height: 34px;
  padding: 6px 25px; }

.header__menu-link:hover {
  background: #8d81ac;
  border-radius: 30px;
  color: #fff;
  padding: 6px 25px; }

.header__form-btn--header {
  float: right;
  margin: 30px 50px 0 0; }

.header__button {
  border-radius: 30px;
  background: #8d81ac;
  color: #fff;
  border: 1px solid #8d81ac;
  font-weight: bold;
  cursor: pointer; }

.header__button--header {
  padding: 12px 40px; }

.header__button--revol {
  position: absolute;
  top: -30px;
  left: 50%;
  margin-left: -150px;
  padding: 20px 65px; }

.bg-box {
  background-image: url(../img/BG.jpg);
  width: 1380px;
  height: 800px;
  position: relative; }

.bg-box__text {
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -350px;
  width: 700px;
  border: 1px solid white; }

.bg-box__title {
  color: #fff;
  text-transform: capitalize;
  text-align: center;
  font-family: "Monsserat Bold", sans-serif;
  font-size: 82px;
  margin: 0; }

.bg-box__pg-1 {
  text-align: center;
  font-family: "Lato Regular", sans-serif;
  font-size: 28px;
  color: #7a7096; }

.bg-box__pg-2 {
  color: #5e656c;
  text-align: center;
  text-transform: uppercase;
  font-family: "Lato Regular", sans-serif;
  font-size: 20px; }

.b-revolution {
  background: #fff;
  position: relative; }

.footer {
  background: #fff; }
